@tailwind base;
@tailwind components;
@tailwind utilities;

/* add project-specific overrides below */
html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f7f7f7;
  color: #111827;
}
